**/*.pyc
**/__pycache__
**/.*
**/*.copy.*
**/*.bk.*
**/*_pb2.py
!.gitignore
build/*
bin/*

docs/_build

examples/fpga/*/*/*
!examples/fpga/*/*/build.py
!examples/fpga/*/*/Makefile
examples/target/*/*/*
!examples/target/*/*/Makefile
!examples/target/*/*/io.pads
