[submodule "libblifparse"]
	path = prga-bitgen/third_party/libblifparse
	url = https://github.com/leon575777642/libblifparse.git
[submodule "spdlog"]
	path = prga-bitgen/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "prga-builder/vprgen"]
	path = prga-builder/vprgen
	url = https://github.com/leon575777642/vprgen.git
