.publications {
  .link-icon {
    display: inline;
    margin-right: 0.3em;
    vertical-align: middle;
  }

  .link-dl {
    display: inline;
    height: 50px;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}
